<div class="container" id="container" [ngClass]="{ 'active': isToggled }">

  <div class="form-container sign-in" >
      <form (submit)="login()">  
          <h1>Sign In</h1>
          <input type="text" placeholder="Username" name="username" [disabled]="isDisabled" [(ngModel)]="username">
          <input [type]="passwordFieldType" placeholder="Password" name="password" [disabled]="isDisabled" [(ngModel)]="password">
          <div class="eyeIcon-container" (click)="togglePasswordVisibility()" style="display: inline-block;">   
             <i [ngClass]="passwordFieldType === 'password' ? 'fa fa-eye eyeIcon' : 'fa fa-eye-slash eyeIcon'"></i>
          </div>
          <p class="errorMessage" *ngIf="errorMessage">{{ errorMessage }}</p>
          <p class="doneMessage" *ngIf="doneMessage">{{ doneMessage }}</p>
          <p class="message" *ngIf="isLoading">{{ message }}</p>
          <button type="submit">Sign In</button>
      </form>
  </div>
  <div class="toggle-container">
      <div class="toggle">
          <div class="toggle-panel toggle-right">
            <a href="http://bs-tunisia.com/" target="_blank">
              <img src="../../../assets/images/barthauerLogo.svg" alt="Barthauer Software Tunisia Logo">
            </a>
              <p>Leave Management Application</p>
              <!-- <p style="margin-top: -15px;">Application</p> -->
          </div>
      </div>
  </div>
</div>
