<div class="container" id="container" [ngClass]="{ 'active': isToggled }">
  <div class="form-container change">
    <form (ngSubmit)="change()">  
        <h1>Reset Password</h1>
        <input type="password" placeholder="New Password" name="newPassword" [(ngModel)]="newPassword">
        <input type="password" placeholder="Confirm password" name="confirmPassword" [(ngModel)]="confirmPassword" >
        <p class="message" *ngIf="message">{{ message }}</p>
        <p class="doneMessage" *ngIf="doneMessage">{{ doneMessage }}</p>
        <button type="submit">Change</button>
    </form>
  </div>

  <div class="form-container continue">
      <form (ngSubmit)="continue()">
          <h1>Forgot Password</h1>
          <input type="email" placeholder="Email" autocomplete="off" name="email" required [(ngModel)]="email" >
          <p class="message" *ngIf="message">{{ message }}</p>
          <button type="submit">Continue</button>
          <a (click)="goBackLogin()">Back To Login</a>
      </form>
  </div>
  
  <div class="toggle-container">
      <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Almost There!</h1>
            <p>Enter your new password to reset your account</p>
            <button class="hidden" id="back" style="padding: 5px 35px; font-size: 18px;" (click)="goBack()">⮨</button>    
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Let's Go</h1>
              <p>Enter your email address to continue the password reset process</p>
          </div>
      </div>
  </div>
</div>
