<div class="container" id="container" [ngClass]="{ 'active': isToggled }">
  <div class="form-container sign-up">
      <form (ngSubmit)="registerr()">
          <h1>Create Account</h1>
          <input type="text" placeholder="Name" autocomplete="off" name="name" required [(ngModel)]="name" >
          <input type="text" placeholder="Username" autocomplete="off" name="username" required [(ngModel)]="username" >
          <input [type]="passwordFieldType" placeholder="Password" autocomplete="off" name="password" [disabled]="isDisabled" [(ngModel)]="password" >
          <div class="eyeIconPassword-container" (click)="togglePasswordVisibility()" style="display: inline-block;">   
            <i [ngClass]="passwordFieldType === 'password' ? 'fa fa-eye eyeIcon' : 'fa fa-eye-slash eyeIcon'"></i>
         </div>
          <input [type]="confirmPasswordFieldType" placeholder="Confirm Password" autocomplete="off" name="confirmPassword" [disabled]="isDisabled" [(ngModel)]="confirmPassword" >
          <div class="eyeIconPassword-container" (click)="toggleConfirmPasswordVisibility()" style="display: inline-block;">   
            <i [ngClass]="confirmPasswordFieldType === 'password' ? 'fa fa-eye eyeIcon' : 'fa fa-eye-slash eyeIcon'"></i>
         </div>
          <p class="errorMessage" *ngIf="errorMessage">{{ errorMessage }}</p>
          <p class="doneMessage" *ngIf="doneMessage">{{ doneMessage }}</p>
          <button type="submit">Sign Up</button>
      </form>
  </div>
  <div class="form-container sign-in" >
      <form (submit)="login()">  
          <h1>Sign In</h1>
          <input type="text" placeholder="Username" name="username" [disabled]="isDisabled" [(ngModel)]="username">
          <input [type]="passwordFieldType" placeholder="Password" name="password" [disabled]="isDisabled" [(ngModel)]="password">
          <div class="eyeIcon-container" (click)="togglePasswordVisibility()" style="display: inline-block;">   
             <i [ngClass]="passwordFieldType === 'password' ? 'fa fa-eye eyeIcon' : 'fa fa-eye-slash eyeIcon'"></i>
          </div>
          <a (click)="goResetPassword()">Forget Your Password?</a>
          <p class="errorMessage" *ngIf="errorMessage">{{ errorMessage }}</p>
          <p class="doneMessage" *ngIf="doneMessage">{{ doneMessage }}</p>
          <p class="message" *ngIf="isLoading">{{ message }}</p>
          <button type="submit">Sign In</button>
      </form>
  </div>
  <div class="toggle-container">
      <div class="toggle">
          <div class="toggle-panel toggle-left">
              <h1>Welcome Back!</h1>
              <p>Enter your personal details to use all of site features</p>
              <button class="hidden" id="login" (click)="removeActiveClass()">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
              <h1>Hello, Friend!</h1>
              <p>Register with your personal details to use all of site features</p>
              <button class="hidden" id="register" (click)="addActiveClass()">Sign Up</button>
          </div>
      </div>
  </div>
</div>
