/* ==========================
      table of contents
=============================
 
1.title Design
2.Data Grid Design
3.Dark Mode Design

*/

/* =====================
    1.title Design
========================*/

.leave-title {
  color: var(--primary-color);
  margin-bottom: 1rem;
  padding-left: 17px;
  font-size: 1.3rem;
}

.loading-title {
  padding-left: 17px;
  color: var(--primary-color-icon);
}

/* =====================
    2.Data Grid Design
========================*/


::ng-deep .dx-datagrid-headers {
  color: #000;
  font-weight: 700;
  font-size: 0.9rem;
  padding-bottom: 30px;
  border-bottom: none;
}

::ng-deep .dx-datagrid-content .dx-datagrid-table {
  border:none
}

::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  border: none;
} 

::ng-deep .dx-datagrid .dx-column-lines > td {
  border: none;
}

::ng-deep .dx-datagrid-rowsview .dx-row {
  font-weight: 500;
  border: none;
  height:50px;
}

::ng-deep .dx-datagrid-headers + .dx-datagrid-rowsview {
  border-top: none;          /*1px solid #ccc;*/
  /* padding-top: 20px; */
}

::ng-deep .dx-datagrid .dx-datagrid-rowsview .dx-data-row td.dx-pointer-events-none {
  border: none;
}

::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell:not(.dx-datagrid-cell-expandable):hover  {
  background-color: gray;
  border-radius: 14px;
  transition: 0.3s;
}

::ng-deep .dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused) {
  background-color: var(--primary-color-20);
}

::ng-deep dx-datagrid-rowsview .dx-row-focused.dx-data-row:not(.dx-row-lines) > td {
  border-top: var(--primary-color-20);
  border-bottom: var(--primary-color-20);
}

::ng-deep .dx-pager .dx-page-sizes .dx-selection {
  background-color: var(--primary-color-20);
  border: 1px solid #ccc;
  border-radius: 10px;
}

::ng-deep .dx-pager .dx-pages .dx-selection {
  background-color: var(--primary-color-20);
  border: 1px solid #ccc;
  border-radius: 10px;
}

::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-texteditor-container {
  margin-left: 2px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 97%;
}

::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-texteditor-container:focus {
  border: 1px solid var(--primary-color-20);
}

::ng-deep .dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-texteditor-input, 
::ng-deep .dx-editor-cell .dx-texteditor .dx-texteditor-input {
  background-color: #F5F5F5;
}

::ng-deep .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-active {
  background-color: var(--primary-color-20);
}
.custom-data-grid .dx-row.dx-data-row.dx-column-lines {
  height: 50px;
}

/* isApproved bg colors depending on the value */
.status-approved {
  background-color: #90EE90;
}

.status-rejected {
  background-color: #FF7F7F;
}

.status-pending {
  background-color: #FFFDAF;
}


::ng-deep .dx-datagrid-header-panel {
  border: none;
  /* margin-bottom: 1rem; */
}

::ng-deep .dx-datagrid-content .dx-datagrid-table {
  border-collapse: unset;
}


/* =====================
    3.Dark Mode Design
========================*/

:host-context(.dark) .leave-title {
  color: var(--title);
}

/*    title     */

:host-context(.dark) .loading-title {
  color: var(--subtitle);
}

/*    data grid     */

:host-context(.dark) ::ng-deep .dx-datagrid-headers {
  color: var(--title);
  background-color: transparent;
}

:host-context(.dark) ::ng-deep .dx-dropdowneditor-input-wrapper,
:host-context(.dark) ::ng-deep .dx-editor-cell .dx-texteditor {
  background-color: #0f0f0f;
  color: var(--title);
}


:host-context(.dark) ::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row .dx-editor-cell .dx-texteditor-container {
  border: 2px solid #2c2c31;
}

:host-context(.dark) ::ng-deep .dx-dropdowneditor-icon {
   color: var(--subtitle);
}

:host-context(.dark) ::ng-deep .dx-gridbase-container > .dx-datagrid-rowsview.dx-scrollable {
  background-color: transparent;
  color: var(--subtitle);
}

:host-context(.dark) ::ng-deep .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
  background-color: transparent;
}

:host-context(.dark) ::ng-deep .dx-datagrid-nodata {
  color: var(--subtitle);
}

:host-context(.dark) ::ng-deep .dx-datagrid-filter-row .dx-editor-cell .dx-editor-with-menu .dx-texteditor-input, 
:host-context(.dark) ::ng-deep .dx-editor-cell .dx-texteditor .dx-texteditor-input {
  opacity: 0.95;
}

/*    pager     */

:host-context(.dark) ::ng-deep .dx-pager .dx-page-sizes {
  background-color: transparent;
  color: var(--subtitle);
}

:host-context(.dark) ::ng-deep .dx-pager .dx-page-sizes .dx-selection {
  border: 1px solid #27272C;
  background-color: #2c2c2e;
  color: var(--title);
}

:host-context(.dark) ::ng-deep .dx-pager .dx-pages {
  background-color: transparent;
  color: var(--subtitle);
}

:host-context(.dark) ::ng-deep .dx-pager .dx-pages .dx-selection {
  border: 1px solid #27272C;
  background-color: #2c2c2e;
  color: var(--title);
}
