/* ==========================
      table of contents
=============================
 
1.UserPanel Container Design
2.Dark Mode Design

*/

/* ================================
    1.UserPanel Container Design
===================================*/

.user-panel-container .dx-list-dropdown {
  min-width: 200px;
  border-radius: 14px; 
  background-color: #F5F5F5;
  color: #fff;
  margin-top: 5px;
  padding: 0 10px;
  font-weight: 500;
}

.user-panel-container .dx-list-dropdown:hover {
background-color: #e3e1e1;
transition: 0.3s ease-in-out;
}

.user-panel-container .img-uname-wrapper{
  display: flex; 
  align-items: center; 
  cursor: pointer; 
  padding: 5px 10px; 
  gap: 10px; 
  width: 200px;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
}

.user-panel-container .img-uname-wrapper-focused{
  background-color: #F5F5F5;
}

.user-panel-container .img-uname-wrapper:hover{
  background-color: #F5F5F5;
}

.user-panel-container .down-arrow{
  font-weight: 600;
  font-size: 1.3em;
  margin-left: 25px;
}

.user-panel-container .img-uname-wrapper .user-image {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  background-color: #ccc;
  background-image: url('../../../assets/images/profile.jpg');
  background-size: cover; 
  background-position: center;
}

.user-panel-container .img-uname-wrapper .user-name {
  font-weight: 600; 
  text-transform: capitalize;
}

.border{
  border: solid 1px red;
}




/* ===========================
    2.Dark Mode Design
==============================*/


:host-context(.dark) .img-uname-wrapper:hover, 
:host-context(.dark) .img-uname-wrapper-focused,
:host-context(.dark) .dx-list-dropdown{
  background-color: #2c2c2e;
  color: var(--title);
}

:host-context(.dark) .img-uname-wrapper{
  color: var(--subtitle);
}

:host-context(.dark) ::ng-deep .dx-list-item-icon.dx-icon-runner{
  color: var(--subtitle) !important;
}

:host-context(.dark) ::ng-deep .dx-item-content.dx-list-item-content {
  color: var(--subtitle) !important ;
}

:host-context(.dark) ::ng-deep .dx-item-content.dx-list-item-content:hover {
  color: var(--title) !important;
}

:host-context(.dark) .dx-list-dropdown:hover {
  background-color: #27272C;
}

:host-context(.dark) .img-uname-wrapper .user-image {
  opacity: 0.5;
}

:host-context(.dark) .img-uname-wrapper .user-image:hover {
  opacity: 1;
}

